@media (max-width: 1600px) {
    .main-visual img {
        padding-bottom: 120px;
        width: 63%;
    }

    .logo {
        font-size: 80px;

    }

    .Featured-wrapper h2,
    .about-text h2 {
        font-size: 60px;
    }

    .about-text h3 {
        font-size: 42px
    }

    .about-text p {
        font-size: 20px;
    }

    .about-wrapper img {
        width: 550px;
        height: 650px;
    }

    .inspiration-text {
        position: absolute;
        top: 71%;
        left: 21%;
    }

    .inspiration-text h2 {
        font-size: 32px;
    }

    .inspiration-text p {
        font-size: 18px;
    }

    .inspiration-text p {
        font-size: 18px;
    }
}

@media (max-width: 1300px) {

    .logo {
        margin-left: 224px;
    }

    .main-visual img {
        margin-left: 280px;
    }

    .side-menu h2 {
        font-size: 24px;
    }

    .top-nav ul li a,
    .side-menu ul li a {
        font-size: 18px;
    }

    .side-menu {
        top: 97px;
        line-height: 45px;
    }

    .sustainability-content {
        margin: 0 0 80px 0;
    }

    .sustainability-wrapper h2 {
        margin: 0 0 80px 300px;
    }

    .bag-card {
        width: 180px;
    }


    .Featured-Bags {
        padding: 0 20px 100px 20px;
    }

    .sustainability-wrapper h2,
    .collection-text h2,
    .Featured-wrapper h2,
    .about-text h2 {
        font-size: 40px;
    }

    .about-text h3 {
        font-size: 35px;
        margin: 80px 0;
    }

    .about-wrapper {
        margin: 150px 80px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 70px;
    }

    .about-wrapper img {
        width: 500px;
        height: 600px;
    }

    .has-bg::before {
        bottom: -105px;
    }

    .sustainability-content img {
        width: 33%;
    }

    .sustainability-wrapper,
    .sustainability-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .sustainability-wrapper h2 {
        margin: 0 0 80px 60px;
    }
}

@media (max-width: 1100px) {

    .top-nav ul {
        gap: 18px;
    }

    .top-nav {
        margin-right: 55px;
    }

    .logo {
        font-size: 60px;
    }

    .about-text p,
    .sustainability-text p {
        font-size: 18px;
    }

    .inspiration-text p {
        font-size: 14px;
    }

    .inspiration-text h2 {
        font-size: 30px;
    }

    .inspiration-text button {
        padding: 10px 22px;
        font-size: 13px;
    }

    .about-wrapper img {
        width: 400px;
        height: 500px;
    }

    .collection-cards img {
        width: 210px;
    }

    .Featured-wrapper h2 {
        margin-left: 200px;
    }

    .bag-card {
        width: 300px;
    }

    .bag-list {
        flex-wrap: wrap;
    }

    .sustainability-wrapper h2 {
        margin: 0 0 80px 0;
    }
}

@media (max-width: 900px) {

    .side-menu {
        top: 77px;
    }

    .bag-card {
        width: 222px;
    }

    .top-nav {
        margin-right: 30px;
    }

    .side-menu {
        top: 97px;
        line-height: 26px;
    }

    .main-visual img {
        margin-left: 228px;
    }

    .logo {
        margin-left: 182px;
    }

    .Collection-cards img {
        width: 178px;
    }

    .inspiration-text {
        top: 61%;
    }

    .inspiration-text h2 {
        font-size: 24px;
    }
}

@media (max-width: 800px) {
    .hamburger {
        display: block;
    }

    .side-menu {
        display: none;
    }

    .hamburger {
        position: absolute;
        left: 20px
    }

    .main-visual img {
        margin-left: 40px;
        width: 85%;
        padding-bottom: 64px;
    }

    .logo {
        margin-left: 40px;
    }

    .bag-card {
        width: 200px;
    }
}

@media (max-width: 700px) {

    .collection-cards img:first-child,
    .collection-cards img:last-child {
        display: none;
    }

    .collection-cards img {
        width: 226px;
    }

    .Featured-wrapper h2 {
        margin-left: 99px;
        margin-bottom: 50px;
    }

    .inspiration-wrapper {
        margin: 184px 0 150px 0;
    }

    .inspiration-img-box img {
        width: 81%;
    }

    .inspiration-text {
        left: 12%;
        top: 64%;
    }
}

@media (max-width: 600px) {

    .top-nav {
        margin-right: 0px;
    }

    .logo {
        font-size: 40px;
        margin-left: 18px;
    }

    .about-text h3 {
        font-size: 24px;
    }

    .about-text p,
    .sustainability-text p {
        font-size: 14px;
    }

    .about-wrapper img {
        width: 300px;
        height: 400px;
    }

    .collection-text h2 {
        margin: 100px 0 20px 0;
    }

    .sustainability-wrapper h2,
    .collection-text h2,
    .Featured-wrapper h2,
    .about-text h2 {
        font-size: 36px;
    }

    .bag-list {
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: flex-start;
        gap: 20px;

    }

    .bag-card {
        width: 197px;
        flex-shrink: 0;
    }

    .top-nav ul li a,
    .side-menu ul li a {
        font-size: 13px;
    }

    .footer {
        padding: 96px 13px;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .logo {
        font-size: 32px;
    }
}