body {
  background-color: #FFFBF2;
}


.main-gude {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}


.logo {
  font-size: 90px;
  font-weight: bold;
  margin-left: 370px;
  color: #1f1f1f;
}

.top-nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.top-nav ul li a {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 24px;
}

/* 사이드 메뉴 */
.side-menu {
  position: absolute;
  left: 60px;
  top: 140px;
  line-height: 56px;
}

.side-menu h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 50px 0 12px 0;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu ul li {
  margin-bottom: 10px;
}

.side-menu ul li a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 24px;
}

.main-visual img {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 81%;
}

/* About Section */
.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 80px 120px;
  gap: 60px;

}

.about-wrapper {
  margin: 250px 80px;
  display: flex;
  gap: 58px;
}

.about-text {
  margin-left: 160px;
}

.about-text h2 {
  font-size: 89px;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  margin: 0;
}

.about-text h3 {
  font-size: 64px;
  font-weight: normal;
  margin: 182px 0 114px 0;
}

.about-text p {
  font-size: 26px;
  line-height: 2;
}

.about-img {
  width: 40%;
  text-align: right;
}

.about-img img {
  width: 648px;
  height: 750px;
  display: block;
  margin-top: 103px;
}

/* Collection Preview */
.collection-preview {
  margin: 60px 80px;
  text-align: center;
}

.collection-text h2 {
  font-size: 60px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 24px;
}

.collection-text p {
  font-size: 24px;
  margin-bottom: 32px;
  color: #444;
}

.Collection-cards {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin: 38px 0;
}

.Collection-cards img {
  width: 240px;
  padding: 8px;
}

.more-btn {
  background-color: #1f1f1f;
  color: white;
  padding: 12px 32px;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: sans-serif;
}




.Featured-Bags {
  background-color: #e8dfcd;
  padding-bottom: 100px;
}

.Featured-wrapper h2 {
  font-size: 89px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 80px;
  margin-left: 242px;
  padding-top: 50px;
}

.bag-list {
  display: flex;
  gap: 62px;
  justify-content: center;
}

.bag-card {
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 16%;
  padding: 30px;
}

.bag-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.bag-card h3 {
  font-size: 18px;
  margin: 16px 0 8px;
}

.bag-card p {
  font-size: 14px;
  margin: 4px 0;
}


/* -------- Style Inspiration -------- */
.style-inspiration {
  background-color: #fdfbf6;
  padding: 0;
}


.inspiration-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.inspiration-img-box img {
  width: 62%;
}

.inspiration-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 0;
}


.inspiration-text {
  position: absolute;
  top: 77%;
  left: 21%;
  color: white;
}

.inspiration-text h2 {
  font-size: 47px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 8px;
}

.inspiration-text p {
  font-size: 21px;
  margin-bottom: 12px;
}

.inspiration-text button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 15px 33px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}


/* -------- Sustainability -------- */
.sustainability {
  background-color: #fdfbf6;
}

.sustainability-wrapper h2 {
  font-size: 89px;
  font-family: 'Playfair Display', serif;
  margin: 60px 0 80px 470px;
}

.sustainability-content {
  display: flex;
  align-items: flex-start;
  gap: 62px;
  margin: 0 0 80px 250px;
}

.sustainability-content img {
  width: 42%;
  border-radius: 7px;
}

.sustainability-text h3 {
  font-size: 42px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 48px;
}

.sustainability-text p {
  font-size: 24px;
  line-height: 1.8;
  color: #333;
}