body {
  background-color: #FFFBF2;
}


.main-gude {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}


.logo {
  font-size: 90px;
  font-weight: bold;
  margin-left: 370px;
  color: #1f1f1f;
}

.top-nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.top-nav ul li a {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 24px;
}

/* 사이드 메뉴 */
.side-menu {
  position: absolute;
  left: 60px;
  top: 140px;
  line-height: 56px;
}

.side-menu h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 50px 0 12px 0;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu ul li {
  margin-bottom: 10px;
}

.side-menu ul li a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 24px;
}

.main-visual img {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 81%;
}

/* About Section */
.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 80px 120px;
  gap: 60px;

}

.about-wrapper {
  margin: 250px 80px;
  display: flex;
  gap: 58px;
}

.about-text {
  margin-left: 160px;
}

.about-text h2 {
  font-size: 89px;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  margin: 0;
}

.about-text h3 {
  font-size: 64px;
  font-weight: normal;
  margin: 182px 0 114px 0;
}

.about-text p {
  font-size: 26px;
  line-height: 2;
}

.about-img {
  width: 40%;
  text-align: right;
}

.about-img img {
  width: 648px;
  height: 750px;
  display: block;
  margin-top: 103px;
}

/* Collection Preview */
.collection-preview {
  margin: 60px 80px;
  text-align: center;
}

.collection-text h2 {
  font-size: 60px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 24px;
}

.collection-text p {
  font-size: 24px;
  margin-bottom: 32px;
  color: #444;
}

.Collection-cards {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin: 38px 0;
}

.Collection-cards img {
  width: 240px;
  padding: 8px;
}

.more-btn {
  background-color: #1f1f1f;
  color: white;
  padding: 12px 32px;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: sans-serif;
}